.header {
  display: flex;
  align-items: center;
}

ul {
  padding: 0%;
  margin-left: auto;
  list-style-type: none;
  gap: 10px;
}

.links {
  display: flex;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
